<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="../css/StyleSheet1.css" rel="stylesheet" />
</head>
<body>
    <div class="carousel"></div>
        <!--<div class="carousel">
            <div class="carousel-arrow-left"><span>Влево</span></div>
            <div class="carousel-hider"> 
                <ul class="carousel-list">
                    <li class="carousel-element"><img src="../img/108040.jpg"><p>Описание 1</p></li>
                    <li class="carousel-element"><img src="../img/1252077103_240x320_wallpapers-12.jpg"><p>Описание 2</p></li>
                    <li class="carousel-element"><img src="../img/133.jpg"><p>Описание 3</p></li>
                    <li class="carousel-element"><img src="../img/dragon_3.gif"><p>Описание 4</p></li>
                    <li class="carousel-element"><img src="../img/tiger.jpg"><p>Описание 5</p></li>
                    <li class="carousel-element"><img src="../img/images.jpg"><p>Описание 6</p></li>
                    <li class="carousel-element"><img src="../img/tigr_5.jpg"><p>Описание 7</p></li>
                    <li class="carousel-element"><img src="../img/192515785.jpg"><p>Описание 8</p></li>
                    <li class="carousel-element"><img src="../img/426417157.jpg"><p>Описание 9</p></li>
                    <li class="carousel-element"><img src="../img/images (1).jpg"><p>Описание 10</p></li>
                    <li class="carousel-element"><img src="../img/239432549.jpg"><p>Описание 11</p></li>
                    <li class="carousel-element"><img src="../img/flavers_2.gif"><p>Описание 12</p></li>
                </ul>
            </div>
            <div class="carousel-arrow-right"><span>Вправо</span></div>
        </div>-->
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <script type="text/template" id="test">
        <div class="main">

            <% for (var i = 0; i < data.length;i++) { %>
            <div class="titles"><%= data[i].title %></div>
            <div class="lorem"><%= data[i].content %></div>
            <% } %>
            </div>
</script>


        <script src="../Scripts/jquery-2.2.3.js"></script>
        <script src="../js/jquery.plugin.js"></script>
    <script src="../js/tmpl.js"></script>
        <script src="../js/JavaScript1.js"></script>
</body>
</html>
